<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <title>Hello, world!</title>
</head>
<body>
<h1 th:text="${greeting}"></h1>
<p>This is my <br>firstwebsite! This is my next car: <br />
    <img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/lamborghini_660_140220101539.jpg"
         alt="W3Schools.com" width="204" />
    <br />
    <a href="https://www.google.com">Go to google</a>
    <br />
    <a href="https://www.google.com" target="_blank">Go to google (opens in new tab)</a>
    <br /> My daily driver: <br />
    <img src="images/car_picture.jpg" alt="Car" width="204" />
</p>
</body>
</html>

